.profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.profile__img {
  width: 174px;
  height: 179px;
  margin: 0 auto;
  margin-bottom: 34px;
}

.profile__title {
  margin-bottom: 21px;
}

.profile__description {
  margin-bottom: 27px;
}

.profile__button {
  width: 208px;
  height: 47px;
  border: none;
  border-radius: 2px;
  background-color: #ff6464;
}

.profile__button:hover {
  background-color: #ff646460;
}

.profile__text-button {
  color: white;
}
