@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;600;700&display=swap");

h1,
p {
  font-family: "Heebo";
}

h1 {
  font-weight: 700;
  font-size: 32px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
}
p {
  font-weight: 400;
  font-size: 16px;
}
